body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(240, 242, 245);
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.darkmode {
  background-color: black;
  color: black;
}

.darkmodeheader {
  background-color: #4d4b4b;
}

.darkmodeheader h1 {
  color: rgb(83, 131, 253);
}

header {
  background-color: rgb(223, 228, 234);
  padding: 20px;
  text-align: center;
}

.darkmodetoggle {
  position: fixed;
  left: 20;
}

header h1 {
  color: rgb(74, 111, 165);
  margin: 0;
  margin-right: 1%;
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title img {
  width: 50px;
  height: auto;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  align-content: center;
}

.container {
  margin: auto;
}

.phone-list {
  list-style: none;
  padding: 0;
  background-color: rgb(223, 228, 234);
  border-radius: 8px;
  width: 700px;
  text-align: center;
  margin: auto;
}

.phone-list li {
  padding: 15px;
  border-bottom: 1px solid rgb(193, 201, 209);
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: background-color 1s, height 0.6s ease;
  height: 40px;
}

.phone-list li:hover {
  background-color: rgb(146, 147, 148);
  height: 60px;
  border-radius: 8px;
}

.phone-list li:last-child {
  border-bottom: none;
}

.actions button {
  background-color: rgb(74, 111, 165);
  border: none;
  color: white;
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 4px;
  font-size: 12px;
}

.actions button:hover {
  background-color: rgb(59, 92, 135);
}

.actions {
  margin-left: auto;
}

.add-contact-btn {
  background-color: rgb(74, 111, 165);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 2%;
}

.add-contact-btn:hover {
  background-color: rgb(59, 92, 135);
}

footer {
  background-color: rgb(74, 111, 165);
  color: white;
  text-align: center;
  padding: 10px 0;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
}

.popup-content {
  position: fixed;
  background-color: rgb(244, 246, 248);
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  height: 300px;
  margin-top: -100px;
  margin-left: -150px;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
}

.popup-content h2 {
  margin-top: 0;
  color: rgb(74, 111, 165);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  background-color: rgb(74, 111, 165);
  border: none;
  border-radius: 1.1em;
  font-size: 20px;
  color: rgb(51, 51, 51);
  cursor: pointer;
}

#addcontactfinalbtn {
  margin-top: 3%;
}

#editcontactfinalbtn {
  margin-top: 3%;
  background-color: rgb(74, 111, 165);
  border-radius: 8px;
  color: white;
}

.addcontactform input {
  margin: 1%;
  background-color: bisque;
  border: solid 1px;
  border-radius: 0.4em;
}